html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  width: 100%;
  margin: 0;
}

.banner {
  position: relative;
  max-height: 500px;
  overflow: hidden;
}

.banner-content {
  padding: 0 1.5rem 1rem;
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  line-height: 1.38;
  max-width: 45rem;
  width: 100%;
}

.img-flex {
  display: block;
  width: 100%;
}

h2 {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 4rem;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  margin-bottom: 30px;
  display: inline;
  line-height: 1.4;
}

div p {
  font-family: "Open Sans", sans-serif;
  font-style: italic;
  font-size: 2rem;
  margin: 0;
  margin-top: 30px;
}
